$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);


$rockColor: hsl(349, 80%, 46%);
$rockBorder: hsl(349, 70%, 56%);

$paperColor: hsl(230, 100%, 60%);
$paperBorder: hsl(230, 89%, 65%);

$scissorsColor: hsl(39, 100%, 40%);
$scissorsBorder: hsl(40, 84%, 53%);

$whiteBorder: hsl(217, 16%, 80%);